body {
    <!-- TMPL_IF body-background-color --> background-color: <!-- TMPL_VAR body-background-color -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-background-image --> background-image: <!-- TMPL_VAR body-background-image -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-background-position --> background-position: <!-- TMPL_VAR body-background-position -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-background-repeat --> background-repeat: <!-- TMPL_VAR body-background-repeat -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-background-attachment --> background-attachment: <!-- TMPL_VAR body-background-attachment -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-color --> color: <!-- TMPL_VAR body-color -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-margin-top --> margin-top: <!-- TMPL_VAR body-margin-top -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-margin-bottom --> margin-bottom: <!-- TMPL_VAR body-margin-bottom -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-margin-left --> margin-left: <!-- TMPL_VAR body-margin-left -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-margin-right --> margin-right: <!-- TMPL_VAR body-margin-right -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-font-family --> font-family: <!-- TMPL_VAR body-font-family -->; <!-- /TMPL_IF -->
    <!-- TMPL_IF body-font-size --> font-size: <!-- TMPL_VAR body-font-size -->; <!-- /TMPL_IF -->
}
div.blog-posts, div.individual-post {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(153, 50, 204);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.individual-post { padding: 10px; }
div.post-in-listing {
    text-align: left;
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(153, 50, 204);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
h1 {
    text-align: center;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
p {
}
a {
}
#blog-title {
    text-align: center;
    font-variant: small-caps;
}
.post-permalink {
    float: left;
}
.license-link {
    float: right;
}
div.assorted-links {
    height: 30px;
    text-align: center;
}
.post-title {
}
.post-text {
}
#individual-post-title {
}
#individual-post-date {
}
.individual-post-text {
}
#footer-text {
}
